page-pergunta {
    .contra {
        background-color: rgba(0, 0, 0, 0.0);
        border: 2px solid #f53d3d !important;
        border-radius:5px !important;
        
    }

    .depende {
        background-color: rgba(0, 0, 0, 0.0);
        border: 2px solid #f5e72d !important;
        margin-top:  10px !important;
        margin-bottom:  10px !important;
        border-radius:5px !important;
    }

    .favor {
        background-color: rgba(0, 0, 0, 0.0);
        border: 2px solid #32db64 !important;
        border-radius:5px !important;
    }
}
