page-pergunta {
    .contra {
        background-color: rgba(0, 0, 0, 0.0);
        border: 2px solid #f53d3d !important;
        border-radius:5px !important;
        
    }

    .depende {
        background-color: rgba(0, 0, 0, 0.0);
        border: 2px solid #f5e72d !important;
        margin-top:  10px !important;
        margin-bottom:  10px !important;
        border-radius:5px !important;
    }

    .favor {
        background-color: rgba(0, 0, 0, 0.0);
        border: 2px solid #32db64 !important;
        border-radius:5px !important;
    }

    .background_economia {
        background-color: rgb(94, 179, 87) !important;
    }
    
    .background_energia {
        background-color: rgb(88, 179, 179) !important;
    }

    .background_social {
        background-color: rgb(236, 167, 97) !important;
    }

    .background_seguranca {
        background-color: rgb(104, 133, 228) !important;
    }

    .background_educacao {
        background-color: rgb(229, 108, 94) !important;
    }
}
